.App {
  text-align: center;
}

html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  padding: 0 16px;
}

.Appdark {
  background-color: #1b1914;
  margin: auto -16px;
  padding: 5px 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.Applight h1 {
  color: rgb(2, 1, 1);
  font-family: "McLaren", cursive;
  font-weight: 100;
}
.Applight {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 5px 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.Appdark h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 100;
}

.btn-save {
  margin: 20px;
}

.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
