#TextFieldLabel2 {
  color: rgb(243, 235, 235);
}

#TextFieldLabel5 {
  color: rgb(243, 235, 235);
}

#TextFieldLabel10 {
  color: rgb(243, 235, 235);
}
#Dropdown11-label {
  color: rgb(243, 235, 235);
}

#TextFieldLabel47 {
  color: rgb(243, 235, 235);
}

#TextFieldLabel50 {
  color: rgb(243, 235, 235);
}

#TextFieldLabel55 {
  color: rgb(243, 235, 235);
}
#Dropdown56-label {
  color: rgb(243, 235, 235);
}
ms-Label {
  color: rgb(243, 235, 235);
}
